<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158249674468-n8i4kqvrr9jdkleig21c9icukbqfd9j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158249674468-n8i4kqvrr9jdkleig21c9icukbqfd9j3</string>
	<key>API_KEY</key>
	<string>AIzaSyC_XjS-R9fRpI-1EOMsgXIcbp0uMK_22Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>158249674468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tjlee.testagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-9d656</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-9d656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158249674468:ios:6b54587c8077d232eaeef1</string>
</dict>
</plist>